<div class="container-fluid mt-2" >
    <div class="card mt-1">
        <div class="card-header">
            <h3>Liste des Commande</h3>
        </div>
        <div class="card-body">
              <div  class="my-2 float-end">
                       <a routerLink="/form-cmde" routerLinkActive="router-link-active"   class="btn btn-outline-success" >Nouveau</a>
              </div>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Montant</th>
                        <th>Etat</th>
                        <th>Adresse</th>

                </tr>
                </thead>
                <tbody>
              @for (item of response?.results; track $index) {
                  <tr >
                      <td >{{item.dateComd | date: 'dd/MM/yyyy'}}</td>
                      <td >{{item.montant}}</td>
                      <td >{{item.etat}}</td>
                      <td >{{item.adresse.numVilla +" | "+item.adresse.quartier }}</td>
                   </tr>
              }  
                </tbody>

            </table>
            <app-pagination [data]="dataPagination" (onGetNumberPage)="paginate($event)"></app-pagination>
        </div>
    </div>
    <!-- Content here -->
</div>

